@import '../../src/styles/vars.scss';

i {
  all: unset;
  display: inline-flex;
  font-family: "NF icons";

  @include animate;
}

html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $main-darkest;
  color: $main-lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: $blue-medium;
  @include animate;

  &:hover {
    color: $blue-light;
  }
}

#app {
  display: flex;

}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  user-select: none;
}

// @done extract this to the global scss file
icon {
  &.is-huge {
    font-size: 3.5rem;
    width: 4rem;
    height: 4rem;
  }
  &.is-large {
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
  }
  &.is-medium {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
  }
}